<h2>Reenviar instrucciones de confirmación</h2>

<%= form_for(resource, :as => resource_name, 
                       :url => confirmation_path(resource_name), 
                       :html => { :method => :post }) do |f| %>
                           
  <%= render :partial => 'devise/shared/errores', :locals => {:resource => resource} %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>
  <br/>
  <p><%= f.submit "Reenviar instrucciones", :class => 'submit redondo-3' %></p>
  
<% end %>

<%= render :partial => "devise/shared/links" %>