<div class="formulario redondo-10">
    <%= form_tag busqueda_url do %>
        <%= label_tag 'Nombre de tú mascota (Si tiene placa)'%>
        <%= text_field_tag 'busqueda[nombre]', '', :size => 35, :class => 'redondo-5' %>
        <%= hidden_field_tag 'busqueda[extraviado]', 1 %>
        <%= hidden_field_tag 'busqueda[caso_cerrado]', 1 %>
        <%= label_tag 'Raza (Opcional)' %>
        <br/>
        <%= select_tag 'busqueda[raza]', grouped_options_for_select(Raza.agrupadas), 
                    {:include_blank => '', :class => 'redondo-5' } %>
        <%= submit_tag 'Buscar', :id => 'busqueda_submit', :class => 'sombreado redondo-5' %>   
    <% end %>
</div>