<style type="text/css">
<!--
html {
    overflow: hidden; 
}
-->
</style>

<div id="map_canvas" class="column fixed" style="width:100%; height:400px;"></div>

<div id="area-slider">
    <%= render :partial => 'mascota', :collection => @mascotas %>
</div>

<% if !@mascotas.empty? && @mascotas.length > 1 %>
    <div id="sig" class="control-slider"></div>
    <div id="ant" class="control-slider"></div>
<% end %>

<div class="externa redondo-10-d" style="width: 33%">
    <div class="extraviada redondo-10-d">
        <p>¿Tú mascota se extravió?</p>
    
        <%= render 'busqueda' %>
        
        <p class="cifras"><%= situacion_numeros(@extraviados, Animal.extraviado) %></p>     
    </div>
</div>

<div class="encontrada-adopcion">
    <div class="adopcion column fixed" style="width: 50%">
        <p>¿Buscas una mascota?</p>
        
        <p class="caccion"><%= link_to 'Encuentra', animales_url, :class => "accion sombreado redondo-10" %></p>
    </div>
    <div class="encontrada column fixed" style="width: 50%">
        <p>¿Encontraste un animalito en la calle?</p>

        <p class="caccion"><%= link_to 'Reporta', new_animal_url, :class => "accion sombreado redondo-10" %></p>
    </div>
    <p class="cifras"><%= situacion_numeros(@encontrados, Animal.encontrado) %></p>
</div>