
<div class="barra-superior">
    <div class="menu">
        <%= link_to 'Registro', '#' %>
        <%= link_to 'Login', '#' %>
        <%= link_to 'Ayuda', '#' %>
    </div>
</div>

<%= form_tag busqueda_url do %>
    <%= label_tag 'Nombre de tú mascota (Si tiene placa)'%>
    <%= search_field_tag 'busqueda[nombre]' %>
    <%= hidden_field_tag 'busqueda[situacion]', 2 %>
    <span><%= label_tag 'Perro' %><%= check_box_tag 'busqueda[perro]' %></span>
    <span><%= label_tag 'Gato' %><%= check_box_tag 'busqueda[gato]' %></span> 
    <%= submit_tag 'Buscar' %>   
<% end %>


<br /><br />
<div class='texto-blanco'>
    <%= link_to 'Consultar directorio', animales_url, :class => 'submit redondo-10' %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'Reporta', new_animal_url, :class => 'submit redondo-10' %>
</div>
