<%= link_to 'Inicio',  '/', :class => 'inicio redondo-3', :style => "color: white" %>
<br/>
<div class="todos-usuarios centrado-global sombra-25" style="width: 76.6em">
    
    <div class='usuarios-encabezado'>
        <h2>¡Hola <%= @usuario.nombre %>!</h2>
    </div>
    
    <p id="notice" class="flash centrado"><%= notice %></p>
    <p id="alert" class="flash centrado"><%= alert %></p>
    
    <%= render 'usuarios/datos_cuenta' %>
</div>

<div class="todos-usuarios centrado-global sombra-25" style="width: 76.6em">
    <%= render 'usuarios/mis_animales' %>
</div>

<% if can? :manage, :all %>
    <div class="todos-usuarios centrado-global sombra-25" style="width: 76.6em">
        <%= render 'usuarios/admin/razas' %>
    </div>

    <div class="admin centrado-global sombra-25" style="width: 76.6em">
        <%= render 'usuarios/admin/usuarios' %>
    </div>
<% end %>
