<div id="acciones" class="unit on-2 columns menu-acciones">
    <div class="column fixed mensaje" style="width: 50%;">
        <span class="no-fotos">Listado de fotos <i>(<%= @animal.fotos.size %>)</i></span>
        
        <span class="nueva-foto">Registrar nueva foto</span>
    </div>
    <div class="column fixed" style=" width: 40%; text-align: right;">
        <% if can?  :manage, @animal %>
            <%= link_to 'Nueva', '#', :class => 'redondo-3 sombra-5', :id => 'nueva-foto' %>
        <% end %>
        <%= link_to 'Ocultar', '#', :id => 'oculta-fotos', :class => 'redondo-3 sombra-5' %>
    </div>
</div>

<% if can? :manage, @animal %>
    <div id="formulario-foto">
        <%= render 'fotos/form' %>
    </div>
<% end %>

<div id="galeria" class="centrado animales">
    <% unless @animal.fotos.empty? %>
            <% @animal.fotos.each do |foto| %>
                <%= render :partial => 'fotos/foto', :locals => {:foto => foto} %>
            <% end %>
    <% end %>
</div>


