<%= form_for([@animal, Foto.new], :html => {:multipart => true}, :remote => true)  do |f| %>   
    <div class="errors"></div>

    <div class="unit on-2 columns">
        <div class="column fixed" style="width: 70%">
            <%= f.label :descripcion, 'Descripción' -%><br/ ><br />
            <%= f.text_field 'descripcion', :size => 60 -%>
        </div>
        
        <div class="column fixed">
            <label>¿Foto principal?</label><br/><br/>
            <%= select_tag 'principal', options_for_select({"Si" => true, "No" => false}, false) -%>
        </div>
    </div>
    
    <div class="field">
        <%= label_tag :archivo, 'Archivo' -%><br/ ><br/ >
        <%= file_field_tag :archivo -%>
    </div>
        
    <div id="acciones" style="text-align: center">
        <%= f.submit 'Subir', :class => "submit redondo-3" -%>
        <%= link_to 'Cancelar', '#', :class => "redondo-3 sombra-5", :id => 'cancelar-registro-foto' -%>
    </div>
<% end %>