<!DOCTYPE html>
<html>
<head>
  <title>Amigos en Apuros</title>
  <%= stylesheet_link_tag 'app', 'elastic', 'scaffold', 'slimbox2', 'slimbox2-rtl' %>
  <%= render 'layouts/google_maps' %>
  <%= javascript_include_tag :defaults, :aplicacion, :exts %>
    
  <%= csrf_meta_tag %>
</head>
<body>
    
     <%= render 'layouts/cargando' %>
     
     <!-- Begin Header -->
     <%= render 'layouts/header' %>
 		 <!-- End Header -->
		 
		 <!-- Begin Content Column -->
		 <div id="content" class="centrado-global sombra-25">
       
       
       <div class="barra-aux">
         <div id="acciones">
            <%= yield :controles %>
         </div>
       </div>
       
       <p id="notice" class="flash centrado"><%= notice %></p>
       <p id="alert" class="flash centrado"><%= alert %></p>
       
       <%= yield %>
		 
		 </div>
		 <!-- End Content Column -->
		 
		 <!-- Begin Footer -->
		 <div id="footer" class="centrado-global sombra-25-no-top">			    
	   </div>
		 <!-- End Footer -->

     <%= render('layouts/google_analytics') if Rails.env == 'production' %>
</body>
</html>
