<!DOCTYPE html>
<html>
<head>
  <title>Froyito</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, :jquery_exts, :others %>
    
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%= csrf_meta_tag %>
</head>
<body>
    
     <div id="cargando" class="oculto sombra-5">
        <%= image_tag 'spinner.gif' %>
        <p>Espere</p>
     </div>
     <!-- Begin Header -->
     <div id="header" class="centrado-global unit on-2 columns">
        <%= render 'fragmentos/header' %>
		 </div>
		 <br/>
		 <!-- End Header -->
		 
		 
		 <br />
		 <!-- Begin Navigation -->
     <div id="navigation" class="unit on-2 columns centrado-global">
		      <div class="column fixed" style="width:45%">
		        <div style="width: 100%">&nbsp;</div>
		      </div>
		      <div class="column fixed selector" style="width:55%">
		        <%= render 'fragmentos/selector' %>
		      </div>
		 </div>
		 <!-- End Navigation -->
		 
		 <!-- Begin Content Column -->
		 <div id="content" class="centrado-global sombra-25">
       <p id="notice" class="flash centrado"><%= notice %></p>
       <p id="alert" class="flash centrado"><%= alert %></p>
       
   		 
   		 <script>
   		    $('#notice').delay(2500).fadeOut('slow');
          $('#alert').delay(2500).fadeOut('slow');
   		 </script>
       <%= yield %>
		 
		 </div>
		 <!-- End Content Column -->
		 
		 <!-- Begin Footer -->
		 <div id="footer" class="centrado-global sombra-25-no-top">			    
	   </div>
		 <!-- End Footer -->

   
</body>
</html>
