<!DOCTYPE html>
<html>
<head>
  <title>Amigos en Apuros : Perfil</title>
  <%= stylesheet_link_tag 'app', 'elastic', 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
     <%= render 'layouts/cargando' %>

     <!-- Begin Header -->
     <%= render 'layouts/header' %>
		 <!-- End Header -->
		 <br/>
		 

		 <%= yield %>
   
</body>
</html>