<div class="principal column content on-2 columns">
    <div class="column fixed">
        <%= render 'fotos/animales_foto_principal' %>
    </div>
    <div class="column elastic">
        <%= render 'bio_encabezado' %>
    </div>
</div>
<div class="usuario column">
    <div style="text-align:right; width: 80%">
        
        <%= render 'redes_sociales' %>
        
        <br/><br/>
        <% unless @animal.usuario.nil? %>
            <p><b>Datos de usuario contacto</b></p>
            <p class="bio-control"><i><%= nombre_y_control_bio(@animal) %></i></p>
            <p id="bio" class="oculto"><%= @animal.usuario.bio %></p>
            <p><i><%= @animal.usuario.email %></i></p>
            <p><i><%= @animal.usuario.telefono_movil.blank? ? "Sin celular registrado" : @animal.usuario.telefono_movil %></i></p>
            <p><i><%= @animal.usuario.cuenta_en_twitter.blank? ? "Sin Twitter registrado" : @animal.usuario.cuenta_en_twitter %></i></p>
            <br/>
        <% end %>
        <% if can? :manage, @animal %>
            <div id="acciones">
                <%= link_to 'Actualizar mis datos', '/perfil', :class => 'redondo-3 sombra-5' %>
            </div>
        <% end %>
    </div>
    
</div>