<%= form_for(@animal) do |f| %>
  <% if @animal.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@animal.errors.count, "error") %> necesitan revisión:</h2>

        <ul>
        <% @animal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <div class="field uso">
      <%= f.select :situacion, options_for_select(Animal.situaciones.invert, @animal.situacion), 
                    {:include_blank => ''} %>
  </div>

  <div class="unit on-3 columns three-fields centrado field" style="width: 90%;">
    <div class="fixed column" style="width:30%">
        <%= f.label :tiene_placa, '¿Tiene Placa?' %><br/><br/>
        <%= f.check_box :tiene_placa, :class => 'campo sombra-interna-5' %>
    </div>
    <div class="fixed column" style="width:30%">
        <%= f.label :nombre %><br/><br/>
        <%= f.text_field :nombre, :class => 'campo grande sombra-interna-5' %>
    </div>
    <div class="fixed column" style="width:40%">
        <%= f.label :sexo %><br/><br/>
        <%= f.select :sexo, options_for_select(Animal.sexos.invert, @animal.sexo), 
                    {:include_blank => ''}, :class => 'campo' %>
    </div>
  </div>
  
  <div class="unit on-2 columns three-fields centrado field" style="width: 80%;">
      <div class="fixed column" style="width:45%">
              <%= f.label :es_cruza, '¿Es cruza?' %><br/><br/>
              <%= f.check_box :cruza, :class => 'campo sombra-interna-5' %>
      </div>
      <div class="fixed column" style="width:45%">
            <%= f.label :raza_id, 'Raza' %> <br/><br/>
            <%= f.select :raza_id, grouped_options_for_select(Raza.agrupadas, @animal.raza_id), 
                        {:include_blank => ''}, :class => 'campo' %>
      </div>
  </div>
  
  <div class="field">
    <%= f.label :descripcion, 'Descripción' %><br /><br/>
    <%= f.text_area :descripcion, :cols => 120, :rows => 4, :class => 'campo' %>
  </div>
  
  <div class="field unit on-2 columns two-fields">
      <div class="fixed column" style="width:60%">
        <%= f.label :fecha %><br/><br/>
        <%= f.date_select :fecha %>
      </div>
      <div class="fixed column" style="width:40%">
          <%= f.label :estancia_temporal, 'Estancia temporal' %><br/><br/>
          <%= f.select :estancia_temporal, options_for_select(Animal.estancias.invert, @animal.estancia_temporal), 
                      {:include_blank => ''}, :class => 'campo' %>
      </div>
  </div>

  <div class="field">
      <%= f.label :coordenadas %><br /><br/>
      <div class="geografia-contenido round-with-5">
          <span id="geografia_direccion"></span>
      </div>

      <%= hidden_field_tag 'coordenadas[lat]', @animal.coordenadas.nil? ? "19.4" : @animal.coordenadas.lat %>
      <%= hidden_field_tag 'coordenadas[lon]', @animal.coordenadas.nil? ? "-99.15" : @animal.coordenadas.lon %>
  </div>

  <div id="map_canvas" class="centrado" style="width:70%; height:250px;"></div>

  <%= f.hidden_field :usuario_id, :value => current_usuario.id %>
  
  <br/>
  <div id="acciones">
    <%= f.submit msj_submit, :class => 'submit redondo-3' %>   
    <%= link_to 'Cancelar', animales_path , :class => 'cancelar redondo-5 sombra-5' %>
  </div>
  <br/>
<% end %>
