<span id="fotos" class="oculto">
    <%= render 'fotos/animales_fotos' %>
</span>

<p>
  <b>Descripción</b>
</p>
<div class="sombra-5"><%= @animal.descripcion %></div>

<br/ >
<p>
  <b><%= ubicacion_y_fecha_animalito(@animal) %></i> en</b>
</p>
<script>
      setAddressFromOn(new google.maps.LatLng(<%= @animal.coordenadas.lat %>, 
                                              <%= @animal.coordenadas.lon %>),
                                              "direccion");
</script>
<div id="direccion" class="sombra-5"></div>