<span id="fotos" class="oculto">
    <%= render 'fotos/animales_fotos' %>
</span>

<p>
  <b>Descripción</b>
</p>
<div><p><%= @animal.descripcion %></p></div>

<p>
  <b><%= ubicacion_y_fecha_animalito(@animal) %></i> en</b>
</p>

<div class="oculto" id="coordenadas-direccion">
    <div class="lat"><%= @animal.coordenadas.lat %></div>
    <div class="lon"><%= @animal.coordenadas.lon %></div>
</div>

<div id="direccion-en-mapa"><p></p></div>