<span id="fotos" class="oculto">
    <%= render 'fotos/animales_fotos' %>
</span>

<p>
  <b>Descripción</b>
</p>
<div><p><%= @animal.descripcion %></p></div>

<p>
  <b><%= ubicacion_y_fecha_animalito(@animal) %></i> en</b>
</p>
<script>
      setAddressFromOn(new google.maps.LatLng(<%= @animal.coordenadas.lat %>, 
                                              <%= @animal.coordenadas.lon %>),
                                              "direccion p");
</script>
<div id="direccion"><p></p></div>