<br/>
<div class="busqueda redondo-5 centrado sombra-5 oculto">
    <%= render 'fragmentos/busqueda_form' %>
</div>

<div class="encabezado">
    <% if @parametros %>
        <h1>Resultados de la búsqueda</h1>
    <% else %>
        <h1>Lista de amigos en apuros</h1>
    <% end %>
</div>

<div id="index-animales">
    <%= render 'animales' %>
</div>
<% content_for :controles do %>
    <% if can?(:manage, Animal) && !@parametros %>
        <%= link_to 'Registrar nuevo', new_animal_path, :class => 'redondo-5 sombra-5' %>
    <% end %>
    
    <%= link_to 'Búsqueda', '', :class => 'redondo-5 sombra-5 boton-busqueda', :id => 'mostrar_busqueda' %>
    
    <% unless usuario_signed_in? %>
        <%= link_to 'Página Principal', root_path, :class => 'redondo-5 sombra-5' %>
    <% end %>
    
<% end %>

<br />
